<div class="form">
    <h1>Editar Comentario</h1>

    <%= render 'form', comment: @comment %>

     <div class="move"><%= link_to 'Mostrar', @comment %> 
        <div class="spacing"><%= link_to 'Regresar', comentarios_path %></div>
    </div>
</div>