<!--This is the view to create a new comment-->

<div class="form">
    <h1>Nuevo Comentario</h1>

    <!--This is the reference of the form, this form is the file fotm.html.erb 
    The html use this because the form.html take the data necesario to build the form that
    need on this view-->
    <%= render 'form', comment: @comment %>

    <div class="move"><%= link_to 'Regresar', comentarios_path %></div> <!--Back option-->
    
</div>