<div class="form">
    <h1>Editar publicaciòn</h1>

    <%= render 'form', publication: @publication %>

    <div class="move"><%= link_to 'Mostrar', @publication %> 
    <div class="spacing"><%= link_to 'Regresar', publicaciones_path %></div>
    </div>
</div>